pip install sentence-transformers 
pip install google-generativeai
pip install -U langchain-huggingface
pip install jq
pip install langchain
pip install pypdf
pip install pytest
pip install boto3
pip install unstructued-client
pip install markdown
pip install Flask
pip install python-dotenv
pip install langchain-community
pip install langchain-openai
pip install unstructured
pip install onnxruntime
winget install Microsoft.VisualStudio.Component.VC.Tools.x86.x64
pip install chromadb
pip install openai
pip install tiktoken
pip install "unstructured[md]"