<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Essence Coach</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap">
</head>
<body>
    <h1>Essence Coach</h1>
    <p>This chatbot is designed to help you better understand the <a href="https://www.essify.com/essence" target="_blank">Essence</a> standard. Ask any question you want.</p>
    
    <div id="selection-area">
        <div class="selection-group">
            <label for="role">Your Role:</label>
            <select id="role">
                <option value="SM">Scrum Master</option>
                <option value="PO">Product Owner</option>
                <option value="Dev1">Dev1</option>
                <option value="Dev2">Dev2</option>
                <option value="Dev3">Dev3</option>
                <option value="Dev4">Dev4</option>
                <option value="Other">Other</option>
            </select>
        </div>
    
        <div class="selection-group">
            <label for="event">Event:</label>
            <select id="event">
                <option value="Inception">Inception</option>
                <option value="Sprint Planning">Sprint Planning</option>
                <option value="Daily Scrum">Daily Scrum</option>
                <option value="Sprint Review">Sprint Review</option>
                <option value="Sprint Retrospective">Sprint Retrospective</option>
                <option value="Backlog Grooming">Backlog Grooming</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>          

    <div id="chat-container">
        <div id="chatbox"></div>
        <div id="input-area">
            <input type="text" id="user-input" placeholder="Type your message..." />
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>
    <footer>
        <p>
            <a href="https://github.com/sonianicoletti/Essence_LLM" target="_blank">GitHub Repo</a> | 
            <script>document.write('<a href="mailto:' + 'sonia.nicoletti00' + '@' + 'gmail.com">Contact</a>');</script>
        </p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
